---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";
import projects from "../projects";
import CardProject from "../components/CardProject.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Dika Maulidal</h1>
      <h3><strong>Student & Learner</strong></h3>

      <p>
        Don't believe this nonsense. 
        <span class="font-bold text-[color:rgb(170,200,255)]">
          Everything here is just a look without content, shallow as a puddle</span>, and to be honest, I'm not even sure what it really means. It's just there to be ignored, nothing more than a mess.
      </p>
      
      <p>
        Thanks
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <section id="projects">
      <h2>Personal <span style="color: rgb(var(--color-accent));">Projects</span></h2>
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
        {
          projects.map(project => (
            <CardProject 
              title={project.title}
              image={project.image}
              tech={project.tech}
              previewUrl={project.previewUrl}
              githubUrl={project.githubUrl}
              description={project.description}
            />
          ))
        }
      </div>
    </section>
    
    <Hr />
    
    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent <span style="color: rgb(var(--color-accent));">Posts</span></h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #projects {
  @apply pb-6 pt-12;
}
#projects h2 {
  @apply text-2xl font-semibold tracking-wide mb-4;
}

  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-2 inline-block text-3xl font-bold sm:my-2 sm:text-5xl;
    color: rgb(var(--color-accent));
  }
  h3 {
    @apply mb-8 sm:mb-8 ;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
